*{
    margin: 0 auto;
}
.myTitle{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-left: 40px;
    color: white;
}
.cs{
    background-color: rgb(0, 153, 255);
    width: 100%;
}