<div class="page-footer">
  <div class="one-two-three">
    <div class="one">
      <h5 >About us</h5>
      <p>Our "BeCured" website helps patients to choose the right medical prescriptions related to their diagnosis. The functionalities of the web site are as below:<br>
      1) Patient is able to send a request to his/her doctor<br>
      2) To make an appointment with the needed doctor, according to the patient's diagnosis<br>
      3) To show the necessary tablets</p>
    </div>
    <div class="two">
      <h5>Our contacts</h5>
      <ul class="list-unstyled">
        <li>
          + 7 707 924 0620
        </li>
        <li>
          becured@gmail.com
        </li>
        <li>
          + 7 727 322 1219
        </li>
      </ul>
    </div>
    <div class="three">
      <h5>Useful links</h5>
      <ul class="list-unstyled">
        <li>
          <a href="https://kazmedinform.kz/" target="_blank">Go to KazMedInform</a>
        </li>
        <li>
          <a href="http://ezdrav.kz/" target="_blank">About hospitalization through the Portal</a>
        </li>
        <li>
          <a href="https://polikliniki.kz/" target="_blank">Find more appreciate hospital</a>
        </li>
        <li>
          <a href="https://www.zdrav.kz/" target="_blank">Useful website for your health</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="copyright">© 2019 Copyright
  </div>
</div>
