.login{
    text-align: right;
    padding-top: 180px;
    padding-right: 40px;
    padding-bottom: 50px;
    background-image: url(home.png);
<<<<<<< HEAD
    background-repeat: no-repeat;
    background-size: 70%;
    height: 170px;
=======
>>>>>>> 6a99e93646f90f48f729fd54014df683072612ad
}
.lists{
    margin-top: 10px;
    padding-left: 5px;
    margin-left: 10px;
    font-size: 14px;
    border: gray;
    color: white;
}
<<<<<<< HEAD
.btn{
    height: 33px;
    width: 100px;
    background: rgb(180, 186, 192);
    margin: 5px 0px 0px 2px;
    border-radius: 5px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(216, 204, 204);
=======
span{
    margin: 25px 0px 0px 5px;
    padding: 5px 5px 5px 5px; 
    border: 2px solid black;
    border-radius: 2px;
    font-size: 20px;
}
.btns{
    margin: 25px 0px 0px 5px;
>>>>>>> 6a99e93646f90f48f729fd54014df683072612ad
}